* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: brown;
	color: #c59f60;
}

nav a {
	text-decoration: none;
	color: #c59f60;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
	color: #0000ee;
}

header {
	background-color: #db924b;
	color: #110802;
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 2.5rem;
}

section {
	margin-bottom: 20px;
}

section > h2 {
	color: #c9c7c9;
	border-bottom: 2px solid #db924b;
}

p,
li {
	line-height: 1.6;
}
.features {
	background-color: #db924b;
	border: 2px solid gold;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 2rem;
	margin: 1rem;
	border-radius: 5px;
	padding: 1rem;

}
.card {
	background-color: #c9c7c9;
	color: black;
	padding: 1rem;
	border-radius: 5px;
}

.card h2 {
	margin-bottom: 1rem;
}

figure {
	width: 100%;
	max-width: 500px;
	display: block;
	margin: 10px auto;
}

ul {
	list-style-type: none;
	width: 100%;
}

li {
	background-color: #10576d;
	color: #cfdce1;
	margin: 5px 0;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
}
a {
	color: #cfdce1;
}

form {
	background-color: #db924b;
	color: #110802;
	padding: 20px;
	border: solid #ccc 1px;
	border-radius: 10px;
}

input,
textarea {
	width: 100%;
	padding: 20px;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin-bottom: 1rem;
}

button {
	background-color: #10576d;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.dropdown {
	display: none;
}

@media only screen and (max-width: 768px) {
	.desktop {
		display: none;
	}
	.dropdown {
		display: block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #fff;
		border-radius: 5px;
		padding: 0.5rem;
	}

	.dropdown:hover .dropdown-content,
	li {
		display: block;
	}
}
